
<ion-content *ngIf="etape===1">
  <div class="container" (click)="out()">
     <ion-row class="div_conn">
    <ion-col size="8">
      <span class="connexion">Création de compte</span>
    </ion-col>
    <ion-col size="2">
      <span class="compte"><b class="actual">1</b> 2 3 4</span>
    </ion-col>
  </ion-row>


<div class="dlogo">

  <ion-img class="logo" src="assets/logo.png"></ion-img>
  
  </div>
  
  <form [formGroup]="form" (submit)="confirm(form)">

    <div class="label">
      <span class="span_label">Prénom(s) et Nom *</span>
    </div>
    <div class="item" style="margin-bottom: 30px;">
      <ion-row>
        <ion-col class="col_icon" size="2">
          <img class="icon" src="assets/id3.png" alt="">
        </ion-col>
        <ion-col size="10">
          <ion-input type="text" required formControlName="name"></ion-input>
        </ion-col>
      </ion-row>
    </div>


    <div class="label">
      <span class="span_label">Téléphone (WhatsApp) *</span>
    </div>
    <div class="item item-pays" style="margin-bottom: 30px;">
      <ion-row>
        <ion-col class="col_icon" size="2" (click)="list_pays()">
          <img class="icon" *ngIf="pays == 'sn'" src="assets/senegal.png" alt="">
          <img class="icon" *ngIf="pays == 'civ'" src="assets/ivoire.png" alt="">
          <img class="icon" *ngIf="pays == 'bf'" src="assets/burkina.png" alt="">
          <img class="icon" *ngIf="pays == 'ml'" src="assets/mali.png" alt="">
          <img class="icon" *ngIf="pays == 'bj'" src="assets/benin.png" alt="">
          <img class="icon" *ngIf="pays == 'tg'" src="assets/togo.png" alt="">
          <img class="icon" *ngIf="pays == 'ga'" src="assets/gabon.png" alt="">
          <img class="icon" *ngIf="pays == 'cm'" src="assets/cameroun.png" alt="">
          <img class="icon" *ngIf="pays == 'ma'" src="assets/maroc.png" alt="">
        </ion-col>
        <ion-col class="col_icon" size="2" (click)="list_pays()">
          <span class="span_f">+{{ indicatif }}</span>
        </ion-col>
        <ion-col size="8">
          <ion-input type="text" required formControlName="email" pattern="[0-9]*" inputmode="numeric"></ion-input>
        </ion-col>
      </ion-row>


      <div class="list-pays {{ class_pays }}">
        <ion-row class="row-pays" (click)="set_pays('sn','221')">
          <ion-col size="4"><img class="im-pays" src="assets/senegal.png" alt=""></ion-col>
          <ion-col size="8" class="col-text">SN (+221)</ion-col>
        </ion-row>
        <hr>
        <ion-row class="row-pays" (click)="set_pays('bf','226')">
          <ion-col size="4"><img class="im-pays" src="assets/burkina.png" alt=""></ion-col>
          <ion-col size="8" class="col-text">BF (+226)</ion-col>
        </ion-row>
        <hr>
        <ion-row class="row-pays" (click)="set_pays('bj','229')">
          <ion-col size="4"><img class="im-pays" src="assets/benin.png" alt=""></ion-col>
          <ion-col size="8" class="col-text">BJ (+229)</ion-col>
        </ion-row>
        <hr>
        <ion-row class="row-pays" (click)="set_pays('civ','225')">
          <ion-col size="4"><img class="im-pays" src="assets/ivoire.png" alt=""></ion-col>
          <ion-col size="8" class="col-text">CI (+225)</ion-col>
        </ion-row>
        <hr>
        <ion-row class="row-pays" (click)="set_pays('ml','223')">
          <ion-col size="4"><img class="im-pays" src="assets/mali.png" alt=""></ion-col>
          <ion-col size="8" class="col-text">ML (+223)</ion-col>
        </ion-row>
        <hr>
        <ion-row class="row-pays" (click)="set_pays('tg','228')">
          <ion-col size="4"><img class="im-pays" src="assets/togo.png" alt=""></ion-col>
          <ion-col size="8" class="col-text">TG (+228)</ion-col>
        </ion-row>
        <hr>
        <ion-row class="row-pays" (click)="set_pays('ga','241')">
          <ion-col size="4"><img class="im-pays" src="assets/gabon.png" alt=""></ion-col>
          <ion-col size="8" class="col-text">GA (+241)</ion-col>
        </ion-row>
        <hr>
        <ion-row class="row-pays" (click)="set_pays('cm','237')">
          <ion-col size="4"><img class="im-pays" src="assets/cameroun.png" alt=""></ion-col>
          <ion-col size="8" class="col-text">CA (+237)</ion-col>
        </ion-row>
        <hr>
        <ion-row class="row-pays" (click)="set_pays('ma','212')">
          <ion-col size="4"><img class="im-pays" src="assets/maroc.png" alt=""></ion-col>
          <ion-col size="8" class="col-text">MA (+212)</ion-col>
        </ion-row>
      </div>

    </div>


    <div class="label" hidden>
      <span class="span_label">Pièce d'identité Recto</span>
    </div>
    <div class="item" style="margin-bottom: 30px;" hidden>
      <ion-row>
        <ion-col class="col_icon" size="0">
          <img class="icon" src="assets/senegal.png" hidden alt="">
        </ion-col>

        <ion-col size="12" style="text-align: center;">
          <span class="sfichier">{{ recto_text }}</span>
          <ion-input type="file" style="margin-top: -45px;opacity: 0" (ngModelChange)="set_recto()" formControlName="cni_recto" placeholder="Choisir une image" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps"></ion-input>
        </ion-col>
        
      </ion-row>
    </div>

    <div class="label" hidden>
      <span class="span_label">Pièce d'identité Verso</span>
    </div>
    <div class="item" style="margin-bottom: 30px;" hidden>
      <ion-row>
        <ion-col class="col_icon" size="0">
          <img class="icon" src="assets/senegal.png" hidden alt="">
        </ion-col>

        <ion-col size="12" style="text-align: center;">
          <span class="sfichier">{{ verso_text }}</span>
          <ion-input type="file" style="margin-top: -45px;opacity: 0" (ngModelChange)="set_verso()" formControlName="cni_verso" placeholder="Choisir une image" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps"></ion-input>
        </ion-col>
        
      </ion-row>


    </div>


    <div class="button">
      <ion-button shape="round" class="button-content" type="submit" [disabled]="form.invalid" >Suivant</ion-button>
    </div>

    <ion-row class="row_mdp">
      <ion-col size="12" class="col_row_mdp" style="display: flex;justify-content:end">
        <span class="underline" style="padding-top:20px;margin-right: 20px;" tappable [routerLink]="['/login']">
          Se Connecter
        </span>
      </ion-col>
    </ion-row>
</form>

</div>
</ion-content>

<ion-content *ngIf="etape===4">
  <div class="container">
    <ion-row class="div_conn">
      <ion-col size="8">
        <span class="connexion">Création de compte</span>
      </ion-col>
      <ion-col size="2">
        <span class="compte">1 <b class="actual">2</b> 3 4</span>
      </ion-col>
    </ion-row>
  
    <div class="dlogo">
  
      <ion-img class="logo" src="assets/logo.png"></ion-img>
      
      </div>
      
      <form [formGroup]="form_otp" (submit)="confirm_otp(form_otp)">
    
        <div class="label">
          <span class="span_label">Code OTP (WhatsApp)</span>
        </div>
        <div class="item" style="margin-bottom: 30px;">
          <ion-row>
            <ion-col class="col_icon" size="2">
              <img class="icon2" src="assets/password2.png" alt="">
            </ion-col>
            <ion-col size="10">
              <ion-input type="text" required formControlName="otp" pattern="[0-9]*" inputmode="numeric"></ion-input>
            </ion-col>
          </ion-row>
        </div>
    
    
        <div class="button">
          <ion-button shape="round" class="button-content" type="submit" [disabled]="form_otp.invalid" >Suivant</ion-button>
        </div>
    
        <ion-row class="row_mdp">
          <ion-col size="12" class="col_row_mdp" style="display: flex;justify-content:end">
            <span class="underline" style="padding-top:20px;margin-right: 20px;" tappable (click)="previous(1)">
              Retour
            </span>
          </ion-col>
        </ion-row>
    </form>
    
    </div>
  </ion-content>





<ion-content *ngIf="etape===3">
  <div class="container">
  <ion-row class="div_conn">
    <ion-col size="8">
      <span class="connexion">Création de compte</span>
    </ion-col>
    <ion-col size="2">
      <span class="compte">1 2 <b class="actual">3</b> 4</span>
    </ion-col>
  </ion-row>

  <div class="dlogo">

    <ion-img class="logo" src="assets/logo.png"></ion-img>
    
    </div>
    
    <form [formGroup]="form" (submit)="confirm2(form)">
  
      <div class="label">
        <span class="span_label">Mot de passe</span>
      </div>
      <div class="item" style="margin-bottom: 30px;">
        <ion-row>
          <ion-col class="col_icon" size="2">
            <img class="icon2" src="assets/password2.png" alt="">
          </ion-col>
          <ion-col size="10">
            <ion-input type="password" required formControlName="password"></ion-input>
          </ion-col>
        </ion-row>
      </div>
  
      <div class="label">
        <span class="span_label">Confirmation Mot de passe</span>
      </div>
      <div class="item" style="margin-bottom: 30px;">
        <ion-row>
          <ion-col class="col_icon" size="2">
            <img class="icon2" src="assets/password2.png" alt="">
          </ion-col>
          <ion-col size="10">
            <ion-input type="password" required formControlName="password_confirmation"></ion-input>
          </ion-col>
        </ion-row>
      </div>
  
  
      <div class="button">
        <ion-button shape="round" class="button-content" type="submit" [disabled]="form.invalid" >S'inscrire</ion-button>
      </div>
  
    <!--   <ion-row class="row_mdp">
        <ion-col size="12" class="col_row_mdp" style="display: flex;justify-content:end">
          <span class="underline" style="padding-top:20px;margin-right: 20px;" tappable (click)="previous(4)">
            Retour
          </span>
        </ion-col>
      </ion-row> -->
  </form>
  
  </div>
</ion-content>


<ion-content *ngIf="etape===2">
  <div class="container">
  <ion-row class="div_conn">
    <ion-col size="8">
      <span class="connexion">Création de compte</span>
    </ion-col>
    <ion-col size="2">
      <span class="compte">1 2 3 <b class="actual">4</b></span>
    </ion-col>
  </ion-row>
  
  <div class="dlogo">

    <ion-img class="logo" src="assets/logo.png"></ion-img>
    
    </div>

  <div class="div_conn">

    <span class="connexion">Cher(e) {{form.value['name']}}, bienvenue dans</span>
    <br><br>
    <span class="connexion">votre nouvel espace</span>
    <br><br>
    <span class="connexion">d'échange.</span>
    <br><br>
    <span class="connexion">Profitez au max de nos</span>
    <br><br>
    <span class="connexion">services.</span>
    <br><br>
    <div class="button">
      <ion-button shape="round" class="button-content" [routerLink]="['/']">Commencez</ion-button>
    </div>


  </div>
  </div>
</ion-content>
