<ion-content class="">

  <div class="container">

    <div class="illustration" [class]="class1">
      
    </div>

    <div class="sub">
      <h1 class="h-1">D'un wallet <b class="span-1">à <br> un autre</b>. C'est simple !</h1>
      <span>disposer de son argent depuis n'importe quel wallet devient possible avec <b style="font-weight: bold;">DIOKO</b></span>
      <ion-button class="button-1" shape="round" [routerLink]="['/login']">Authentification <img src="assets/tuto/Fleche.png" class="fleche"></ion-button>
    </div>
  </div>

</ion-content>
