<ion-content class="">

  <div class="container" (click)="out()">

    <div class="menu" [class]="class1">
      <ion-img class="back" src="assets/MENU-CONVERSION/Bouton_retour_icon.png" [routerLink]="['/home']" *ngIf="vu==1"></ion-img>
      <ion-img class="back" src="assets/MENU-CONVERSION/Bouton_retour_icon.png" (click)="set_vu(1)" *ngIf="vu==2"></ion-img>
      <ion-img class="back" src="assets/MENU-CONVERSION/Bouton_retour_icon.png" (click)="set_vu(2)" *ngIf="vu==3"></ion-img>
      <ion-img class="back" src="assets/MENU-CONVERSION/Bouton_retour_icon.png" [routerLink]="['/home']" *ngIf="vu==4"></ion-img>
      <ion-img class="back" src="assets/MENU-CONVERSION/Bouton_retour_icon.png" [routerLink]="['/home']" *ngIf="vu==5"></ion-img>
      <ion-img class="back" src="assets/MENU-CONVERSION/Bouton_retour_icon.png" (click)="set_vu(2)" *ngIf="vu==6"></ion-img>
     <div class="div-span">
<!--       <span class="span-top">Achat <br> de <b class="text-blue"> Crédit </b> <br> téléphonique</span> -->
     </div>
    </div>

    <div class="sub-menu" *ngIf="vu==1" style="height: 50vh;">


      <div class="parent" style="height: 100%;">
        <div class="text">
        <h4>Choisissez le wallet à débiter</h4>
      </div>
      <div class="choix" style="padding-left: 20px;padding-right: 20px;">
        <ion-row>
          <ion-col size="6" class="col">
            <img class="icon2" src="assets/LOGO/OrangeMoney_icon.png" (click)="wallets('om')" [class]="om" alt="">
            <span class="span_label">Orange Money</span>
          </ion-col>
          <ion-col size="6" class="col">
            <img class="icon2" src="assets/LOGO/Wave_icon.png" (click)="wallets('wave')" [class]="wave" alt="">
            <span class="span_label">Wave</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="col">
            <img class="icon2" src="assets/LOGO/FreeMony_icon.png" (click)="wallets('fm')" [class]="fm" alt="">
            <span class="span_label">Free Money</span>
          </ion-col>
          <ion-col size="6" class="col">
            <img class="icon2" src="assets/LOGO/Emoney_icon.png" (click)="wallets('emoney')" [class]="wizall" alt="">
            <span class="span_label">E-Money</span>
          </ion-col>
        </ion-row>
      </div>
    </div>



    </div>






    <div class="sub-menu" *ngIf="vu==2">

      <div class="parent1 parent">
        <div class="text">
        <h4>Transfert depuis votre Wallet</h4>
      </div>
      <div class="choice">
        <ion-row class="row_champ" (click)="choix_1()">
          <ion-col size="10" class="col_ic"><img class="icon_champ"  src="{{ logo_wallet }}" alt="">
            <span class="wal_text">{{ wallet }}</span>                                  
          </ion-col>
          <ion-col size="2"><img class="icon_fleche"  src="assets/MENU-CONVERSION/fleche.png" alt=""></ion-col>
        </ion-row>

        <div class="choix-content1 choix-content {{ class_content1 }}" *ngIf="beneficiaire == null || beneficiaire == 0">
        
            <ion-row class="row1">
              <ion-col>
                <img class="icon_om" src="assets/LOGO/OrangeMoney_icon.png" (click)="selectItem_1('Orange Money')" alt="">
              </ion-col>
              <ion-col>
                <img class="icon_wave" src="assets/LOGO/Wave_icon.png" (click)="selectItem_1('Wave')" alt="">
              </ion-col>
            </ion-row>
     
            <ion-row>
              <ion-col>
                <img class="icon_free" src="assets/LOGO/FreeMony_icon.png" (click)="selectItem_1('Free Money')" alt="">
              </ion-col>
             <!--  <ion-col>
                <img class="icon_wave" src="assets/LOGO/Wizall_icon.png" (click)="selectItem_1('Wizall Money')" alt="">
              </ion-col> -->
              <ion-col>
                <img class="icon_wave" src="assets/LOGO/Emoney_icon.png" (click)="selectItem_1('E-Money')" alt="">
              </ion-col>
            </ion-row>
          
        </div>
      </div>
    </div>

    <div class="text" style="margin-top: 10px;" *ngIf="beneficiaire == null || beneficiaire == 0">
      <h4>Numéro téléphone</h4>
    </div>
    <form [formGroup]="form1">
    <div class="item" *ngIf="beneficiaire == null || beneficiaire == 0">
      <ion-row>
        <ion-col size="12">

          <ion-input type="text" pattern="[0-9]*" inputmode="numeric" maxlength="9" formControlName="telephone_debit" [(ngModel)]="telephone_debit"></ion-input>
        
        </ion-col>
      </ion-row>
    </div>

    <div class="text" *ngIf="beneficiaire==null && !form1.invalid">
      <h4>Nouveau bénéficiaire</h4>
    </div>
    <div class="destinataire" (click)="ajout()" *ngIf="beneficiaire==null && !form1.invalid">
      <ion-row>
        <ion-col class="col_dest" size="10">
          <span class="text_dest">Ajouter</span>
        </ion-col>
        <ion-col class="col_dest" size="2">
          <ion-icon name="add" style="color: #2A4791;font-size: 40px;font-weight: bold;margin-top: -4px;"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </form>

    <div class="text" *ngIf="beneficiaire!=null" style="margin-top: 10px;">
      <h4>Bénéficiaire(s)</h4>
    </div>
    <div class="destinataire" *ngIf="beneficiaire!=null">
      <ion-row>
        <ion-col class="col_dest" size="10">
          <span class="text_dest">{{beneficiaire}}</span>
        </ion-col>
        <ion-col class="col_dest" size="2">
          <ion-icon name="eye" tappable id="open-modal" expand="block" style="color: #2A4791;font-size: 40px;font-weight: bold;margin-top: -4px;"></ion-icon>
        </ion-col>
      </ion-row>
    </div>


    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <div style="height: 100%;width: 100%;border: 5px solid #EE7160;border-radius: 20px;background-color: white;overflow-y: auto;">
         <div class="trait" style="margin-top: 15px;margin-bottom: 5px">
          <span class="titre">Bénéficiaires</span>
         </div>
          <div class="trait" style="margin-bottom: 20px;">
            <div class="le_trait"></div>
          </div>
          <div style="width: 100%">
            
            <div class="detail_modal1" *ngFor="let b of list_benef" style="padding-top: 4px;margin-bottom: 15px;">
              <ion-row>
                <ion-col size="12"  class="col">
                  <span class="text_mod"> {{b['telephone']}} - {{b['montant']}} F</span>
                </ion-col>
                <ion-col size="12"  class="col" style="margin-top: -10px;">
                  <span class="text_mod"> Transfert vers : {{b['service']}}</span>
                </ion-col>
              </ion-row>
            </div>

            

   
         
          </div>
          <div class="button" style="margin-bottom: 10px;margin-top: 0px;">
            <ion-button shape="round" class="button-content" style="width: 30px;" (click)="cancel1()">Ok</ion-button>
          </div>
        </div>
      </ng-template>
    </ion-modal>


    <div class="text" *ngIf="beneficiaire!=null" style="margin-top: 10px;">
      <h4>Montant</h4>
    </div>
    <div class="destinataire" *ngIf="beneficiaire!=null">
      <ion-row>
        <ion-col class="col_dest" style="margin-top: 12px;" size="12">
          <span class="text_dest">{{montant_global}}</span>
        </ion-col>
    
      </ion-row>
    </div>


    <div class="button2" *ngIf="beneficiaire!=null">
      <ion-button shape="round" class="button-content2" style="margin-right: 10%;" (click)="ajout()">Ajouter</ion-button>
      <ion-button shape="round" class="button-content2" (click)="suivant()">Suivant</ion-button>
    </div>



    </div>




    <div class="sub-menu" *ngIf="vu==6">


    <div class="text">
      <h4>Numéro bénéficiaire</h4>
    </div>
    <form [formGroup]="form2">
    <div class="item" style="margin-bottom: 10px;">
      <ion-row>
        <ion-col size="12">
          <ion-input type="text" pattern="[0-9]*" inputmode="numeric" maxlength="9" formControlName="telephone" [(ngModel)]="telephone"></ion-input>
        </ion-col>
      </ion-row>
    </div>
    </form>

    <div class="text" style="margin-top: 0px;" *ngIf="form2.valid">
      <h4>Montant</h4>
    </div>
    <div class="item" style="margin-bottom: 10px;" *ngIf="form2.valid">
      <ion-row>
        <ion-col size="12">
          <ion-input type="number" [(ngModel)]="montant" pattern="[0-9]*" inputmode="numeric"></ion-input>
        </ion-col>
      </ion-row>
    </div>


    <div class="parent1 parent" *ngIf="form2.valid && montant >= 200 ">
      <div class="text" style="margin-top: 0px;">
      <h4>À recevoir via</h4>
    </div>
    <div class="choice2" *ngIf="form2.valid && montant >= 200">

      <ion-row class="row_champ" (click)="choix_1()" *ngIf="wallet_b!=null">
        <ion-col size="10" class="col_ic"><img class="icon_champ2"  src="{{ logo_wallet_b }}" alt="">
          <span class="wal_text2">{{ wallet_b }}</span>                                  
        </ion-col>
        <ion-col size="2"><img class="icon_fleche2"  src="assets/MENU-CONVERSION/fleche.png" alt=""></ion-col>
      </ion-row>

      <ion-row class="row_champ" (click)="choix_1()" *ngIf="wallet_b==null">
        <ion-col size="10" class="col_ic">
          <span class="wal_text2">Choisir Wallet</span>                                  
        </ion-col>
        <ion-col size="2"><img class="icon_fleche2"  src="assets/MENU-CONVERSION/fleche.png" alt=""></ion-col>
      </ion-row>


      <div class="choix-content1 choix-content {{ class_content1 }}">
      
          <ion-row class="row1">
            <ion-col size="4">
              <img class="icon_om" src="assets/LOGO/OrangeMoney_icon.png" (click)="selectItem_2('Orange Money')" alt="">
            </ion-col>
            <ion-col size="4">
              <img class="icon_wave" src="assets/LOGO/Wave_icon.png" (click)="selectItem_2('Wave')" alt="">
            </ion-col>
            <ion-col size="4">
              <img class="icon_wave" src="assets/LOGO/FreeMony_icon.png" (click)="selectItem_2('Free Money')" alt="">
            </ion-col>
            <ion-col size="4">
              <img class="icon_wave" src="assets/LOGO/Emoney_icon.png" (click)="selectItem_2('E-Money')" alt="">
            </ion-col>
       
          </ion-row>
        
      </div>
    </div>
  </div>


  <div class="button" *ngIf="telephone != null && montant >= 200 && wallet_b != null">
    <ion-button shape="round" class="button-content" (click)="add_beneficiaire()">Ajouter</ion-button>
  </div>




    </div>



    <div class="sub-menu" *ngIf="vu==3">

      <div class="parent1 parent">
        <div class="text">
        <h4>Transfert depuis votre Wallet</h4>
      </div>
      <div class="choice">
        <ion-row class="row_champ">
          <ion-col size="10" class="col_ic"><img class="icon_champ"  src="{{ logo_wallet }}" alt="">
            <span class="wal_text">{{ wallet }}</span>                                  
          </ion-col>
          <ion-col size="2"><img class="icon_fleche"  src="assets/MENU-CONVERSION/fleche.png" alt=""></ion-col>
        </ion-row>

      </div>
    </div>

      <div class="details">
      <div class="recap" *ngIf="fin===0">
         <ion-icon name="person" style="font-size: 25px;color: #2A4791;"></ion-icon> <span class="span_recap">Nombre de bénéficiaires: {{beneficiaire}}</span>
       </div>

      <div class="infos" *ngIf="fin===0">
        <ion-row>
          <ion-col size="3">
            <img class="image_infos" src="assets/MENU-CONVERSION/pocket.png" alt="">
          </ion-col>
          <ion-col size="9">
            <span class="text_infos">Montant<b style="visibility:hidden">55</b>  | <b style="visibility:hidden">55</b> {{montant_global}} F</span>
          </ion-col>

          <ion-col size="3">
            <img class="image_infos2" src="assets/MENU-CONVERSION/com.png" alt="">
          </ion-col>
          <ion-col size="9">
            <span class="text_infos"><b style="visibility:hidden">5</b>Frais<b style="visibility:hidden">aaii1</b> | <b style="visibility:hidden">55</b>  {{frais}} F</span>
          </ion-col>

          <ion-col size="3">
            <img class="image_infos3" src="assets/MENU-CONVERSION/total.png" alt="">
          </ion-col>
          <ion-col size="9">
            <span class="text_infos"><b style="visibility:hidden">5</b>Total <b style="visibility:hidden">555</b> | <b style="visibility:hidden">55</b> {{montant_global+frais}} F</span>
          </ion-col>

        </ion-row>
      </div>

      <div class="infos_a" *ngIf="fin===1">
        <a class="a-tag" id="afds" href="{{url}}" target="_blank" (click)="confirmer_wave()" [hidden]="click_url == 0"> Cliquez ici pour valider</a>
        <span class="sp-tag" [hidden]="click_url == null">Transaction en cours ...</span>
      </div>
      <div class="infos_a" *ngIf="fin===2">
        <span class="sp-tag" [hidden]="mess=='fail'">Transaction réussie, merci d'avoir utilisé DiokoCash</span>
        <span class="sp-tag" [hidden]="mess=='success'">Transaction non aboutie !</span>
      </div>

    </div>
    <div class="button" style="margin-top: 10px;">
      <ion-button shape="round" class="button-content" (click)="before_validation()">Confirmer</ion-button>
    </div>
    </div>








    <div class="sub-menu" *ngIf="vu==4">

      <div class="parent text">
    
    </div>


  <div class="validation">


    <div class="resume">

   
      <a class="a-tag" id="afds" href="{{url}}" target="_blank" (click)="confirmer_wave()" [hidden]="click_url == 0"> Cliquez ici pour valider</a>
      <span class="sp-tag" [hidden]="click_url == null">Transaction en cours ...</span>

    </div>
    

    <div class="button">
      <ion-button shape="round" class="button-content" [routerLink]="['/home']" [hidden]="click_url == 0">Retour</ion-button>
    </div>
  </div>

    </div>



    <div class="sub-menu" *ngIf="vu==5">

      <div class="parent text">
    
    </div>


  <div class="validation">


    <div class="resume">

   
<span class="sp-tag" [hidden]="mess=='success'">Transaction réussie, merci d'avoir utilisé DiokoCash</span>
<span class="sp-tag" [hidden]="mess=='fail'">Transaction non aboutie !</span>

    </div>
    

    <div class="button">
      <ion-button shape="round" class="button-content" [routerLink]="['/home']">Retour</ion-button>
    </div>
  </div>

    </div>
    
  </div>



  <ion-modal #VerifModal trigger="verif_modal">
    <ng-template>
      <div style="height: auto;width: 100%;border: 5px solid #EE7160;border-radius: 20px;background-color: white;overflow-y: auto;">
       <div class="trait" style="margin-top: 15px;margin-bottom: 5px">
        <span class="titre">Alerte de transaction</span>
       </div>
        <div class="trait" style="margin-bottom: 20px;">
          <div class="le_trait"></div>
        </div>
        <div style="width: 100%">
          
          <div class="detail_modal" style="padding-top: 4px;margin-bottom: 15px;" *ngIf="add_num===0">
            <ion-row>
              <ion-col size="12"  class="col" style="margin-top: -10px;">
                <span class="text_mod"> {{ notif }} </span>
              </ion-col>

              <ion-col size="12"  class="col" style="margin-top: -10px;" *ngIf="type===2">
                <span class="text_mod"> Si c'est le vôtre, Merci de l'ajouter à votre liste de confiance. </span>
              </ion-col>
              <ion-col size="12"  class="col item2" *ngIf="type===1">
                <ion-input class="le_input" type="password" pattern="[0-9]*" inputmode="numeric" minlength="4" placeholder="Mot de passe de transaction" maxlength="4" required [(ngModel)]="trans_pass"></ion-input>
              </ion-col>
              <ion-col size="12"  class="col">
                <span class="text_mod"> {{ message_tp }}</span>
              </ion-col> 
            </ion-row>
          </div>

          <div class="detail_modal" style="padding-top: 4px;margin-bottom: 15px;" *ngIf="add_num===1">
            <ion-row>

              <ion-col size="12"  class="col" style="margin-top: -10px;">
                <span class="text_mod"> Veuillez saisir le code OTP pour valider. </span>
              </ion-col>
              <ion-col size="12"  class="col item2">
                <ion-input class="le_input" type="password" pattern="[0-9]*" inputmode="numeric" placeholder="Code OTP" required [(ngModel)]="code_otp"></ion-input>
              </ion-col>
              <ion-col size="12"  class="col">
                <span class="text_mod"> {{ message }}</span>
              </ion-col> 
            </ion-row>
          </div>

        </div>
        <div class="button_m" style="margin-bottom: 10px" *ngIf="add_num===0">
          <ion-button shape="round" class="button-content_m" *ngIf="type===1" (click)="confirm_pass()">Valider</ion-button>
          <ion-button shape="round" class="button-content_aj" *ngIf="type===2" (click)="add()">Ajouter</ion-button>
          <ion-button shape="round" class="button-content_a" *ngIf="type===2" (click)="cancel()">Annuler</ion-button>
        </div>
        <div class="button_m" style="margin-bottom: 10px" *ngIf="add_num===1">
          <ion-button shape="round" class="button-content_aj" (click)="ajouter()" [disabled]="code_otp==null">Valider</ion-button>
          <ion-button shape="round" class="button-content_a" (click)="annuler()">Annuler</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>


  <ion-modal #ConfirmModal trigger="confirm_modal">
    <ng-template>
      <div style="height: auto;width: 100%;border: 5px solid #EE7160;border-radius: 20px;background-color: white;overflow-y: auto;">
       <div class="trait" style="margin-top: 15px;margin-bottom: 5px">
        <span class="titre">Confirmation</span>
       </div>
        <div class="trait" style="margin-bottom: 20px;">
          <div class="le_trait"></div>
        </div>
        <div style="width: 100%">
          

          <div class="detail_modal" style="padding-top: 4px;margin-bottom: 15px;">
            <ion-row>

              <ion-col size="12"  class="col" style="margin-top: -10px;">
                <span class="text_mod"> Composez le #144#391# ou <a href="tel:%23 144 %23 391 %23" ion-button>cliquez ici</a> et saisissez votre code secret pour générer le OTP. </span>
              </ion-col>
              <ion-col size="12"  class="col item2">
                <ion-input class="le_input" type="password" pattern="[0-9]*" inputmode="numeric" placeholder="OTP de Validation" required [(ngModel)]="code_vali"></ion-input>
              </ion-col>
              <ion-col size="12"  class="col">
                <span class="text_mod"> {{ message }}</span>
              </ion-col> 
            </ion-row>
          </div>

        </div>

        <div class="button_m" style="margin-bottom: 10px">
          <ion-button shape="round" class="button-content_a" (click)="close_confirm()">Annuler</ion-button>
          <ion-button shape="round" class="button-content_aj" (click)="valider()" [disabled]="code_vali==null">Valider</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>



</ion-content>